# Folder cấu hình VS Code
.vscode/
.cph/
Hisu/

# Các file thực thi và object
*.exe
*.o
*.out

# Các file dữ liệu vào/ra cá nhân
*.inp
*.out

# File tạm của VS Code
tempCodeRunnerFile.cpp

# File khác
*.pdf
*.log